.caja{
    margin-top: 50px;
    gap: 80px;
}

.caja h1{
    margin-bottom: 50px;
    text-align: center;
}

.imagen{
    display: flex;
    width: 700px;
    height: 500px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.cajaArriba{
    position: absolute;
    width: 86%;
    height: 50px;
    margin-left: -303px;
    margin-top: -50px;
    background-color: #000e55;
}

.boton2{
    width: 120px;
    background-color: #ffa726;
    color: #ffffff;
    margin-top: 7px;
    margin-left: 88%;
    font-size: 20px;
}

